[submodule "trustm_lib"]
	path = trustm_lib
	url = https://github.com/Infineon/optiga-trust-m.git
[submodule "linux-driver-optiga-trust-m"]
	path = linux-driver-optiga-trust-m
	url = https://github.com/Infineon/linux-driver-optiga-trust-m.git
