
openssl_conf = openssl_init
[openssl_init]
engines = engine_section

[engine_section]
trustm_engine = trustm_engine_section

[trustm_engine_section]
engine_id = trustm_engine
dynamic_path = /usr/lib/arm-linux-gnueabihf/engines-1.1/trustm_engine.so
init = 1
#SET_CERT_CTRL = client1_nokey.p12:1234
#SET_CERT_CTRL = client1.p12:1234
#SET_KEY_CTRL = e0f1
SET_P12_PASSWD_CTRL = 1234
default_algorithms = RSA,ECC

