oid_section = OIDs

[req]
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
CN = Matter Dev DAC 0xFFF1/0x8006
MatterOID1 = FFF1
MatterOID2 = 8006

[ OIDs ]
MatterOID1 = 1.3.6.1.4.1.37244.2.1
MatterOID2 = 1.3.6.1.4.1.37244.2.2
